body {
    background-image: url('background.png');
    background-size: 426px 826px;
}

.container {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.profile-section {
    padding: 20px;
    text-align: center;
}

.background-image {
    background-image: url('no:3');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 65px; /* إضافة المسافة من الأعلى */
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

.username {
    color: #aaa;
    margin-bottom: 15px;
    margin-top: 10px; /* إضافة المسافة من الأعلى */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* إضافة المسافة من الأعلى */
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}